
@{
    ViewBag.Title = "checkBooking";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Semak Tempahan</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Bookings")">Tempahan</a></li>
                    <li class="breadcrumb-item active">Semak Tempahan</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Tempahan</h3>
                    </div>
                    <br />
                    
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-warning alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-exclamation-triangle"></i>@ViewBag.Error</h5>
                                </div>
                            }

                            @if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-check"></i>@ViewBag.Success</h5>
                                </div>
                            }
                        </div>
                    </div>

                    <form role="form" method="post" action="checkBooking">
                        @Html.AntiForgeryToken()

                        <div class="card-body">
                            <div class="form-group">
                                <label>Tempat / Lokasi</label>
                                <select class="form-control select2" style="width: 100%;" name="locationname" placeholder="Nombor Telefon">
                                    <option value=""></option>
                                    <option value="Bilik Seminar">Bilik Seminar</option>
                                    <option value="Dewan">Dewan</option>
                                    <option value="Rumah">Rumah</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tarikh & Masa</label>
                                <input type="hidden" class="form-control" name="startdate" id="startdate">
                                <input type="hidden" class="form-control" name="enddate" id="enddate">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="reservationtime" name="testdate" placeholder="Tarikh & Masa">
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Check</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('.select2').select2({
                placeholder: "Tempat / Lokasi",
                allowClear: true
            });

            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                autoUpdateInput: false,
                locale: {
                    format: 'DD MMM YYYY hh:mm A'
                }
            });

            $('input[name="testdate"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD MMM YYYY hh:mm A') + ' - ' + picker.endDate.format('DD MMM YYYY hh:mm A'));

                document.getElementById('startdate').value = picker.startDate.format('DD MMM YYYY hh:mm A');
                document.getElementById('enddate').value = picker.endDate.format('DD MMM YYYY hh:mm A');
            });

            $('input[name="testdate"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');

                document.getElementById('startdate').value = "";
                document.getElementById('enddate').value = "";
            });
        });
    </script>
}
